In [2]:
# name = input("What is your name? ")
# This is a comment
name = "Jared"
print("Hello world from " + name + "!")

Hello world from Jared!

In [3]:
a = 15.9
b = 6

print(f"{a=}, {b=}")

a=15.9, b=6

In [4]:
print("Addition: ", a+b)
print("Subtraction: ", a-b)
print("Multiplication: ", a*b)
print("Division: ", a/b)

Addition:  21.9
Subtraction:  9.9
Multiplication:  95.4
Division:  2.65

In [5]:
print("Integer Division: ", a//b)
print("Modulus: ", a%b)
print("a Squared: ", a**2)
print("a Cubed: ", a**3)
print("a^9: ", a**9)
print(f"sqrt 2: {2**(1/2):.4f}")
print("Rounding: ", round(1.1/3, 4))

Integer Division:  2.0
Modulus:  3.9000000000000004
a Squared:  252.81
a Cubed:  4019.679
a^9:  64949246777.4414
sqrt 2: 1.4142
Rounding:  0.3667

In [6]:
# Swappping variables
print("BEFORE:", a, b)
a, b = b, a
print("AFTER:", a, b)

BEFORE: 15.9 6
AFTER: 6 15.9

In [7]:
name = "Monty Python"
title = 'Holy Grail'
print(name, title)
print(name, "and the", title)
print(name[0])
print(name[-1])
print(name[0:5])
print(name[6:])
print(title[:4])
print(name[::2])
print(name[1::2])
print(name[1:8:2])

Monty Python Holy Grail
Monty Python and the Holy Grail
M
n
Monty
Python
Holy
MnyPto
ot yhn
ot y

In [8]:
print(name[:-1]+"n")
print(title)
print(f"{len(name) = }")

Monty Python
Holy Grail
len(name) = 12

In [9]:
print("First Line\nSecond Line")

First Line
Second Line

In [10]:
print("Hello! "*10)

Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!

In [11]:
print(name.count("n"))

2

In [12]:
print(name.replace("o", "a"))

Manty Pythan

In [13]:
# Type conversion
x = "3.14"
y = float(x)
z = int(y)
print(x, y, z)
print(type(x), type(y), type(z))

3.14 3.14 3
<class 'str'> <class 'float'> <class 'int'>

In [14]:
a = "rosemead"
b = "new york"
print(a[2:5]+b[4:]+'a')

semyorka

In [15]:
# Lists
apollo_moon = [11, 12, 14, 15, 16, 17]
print(apollo_moon)

apollo_commanders = ["Armstrong", "Conrad", "Shephard", "Scott", "Young", "Cernan"]
print("Post Apollo-13 Commanders:", apollo_commanders[2:])
apollo_commanders[0] = "Lovell"
print(apollo_commanders)
apollo_moon.append(18)
apollo_moon.append(19)
print("Cancelled:", apollo_moon)
last = apollo_moon.pop()
last = apollo_moon.pop()
print(last)

[11, 12, 14, 15, 16, 17]
Post Apollo-13 Commanders: ['Shephard', 'Scott', 'Young', 'Cernan']
['Lovell', 'Conrad', 'Shephard', 'Scott', 'Young', 'Cernan']
Cancelled: [11, 12, 14, 15, 16, 17, 18, 19]
18

In [16]:
apollo_moon.index(11)
print(apollo_moon)

[11, 12, 14, 15, 16, 17]

In [17]:
apollo_moon.reverse()
print(apollo_moon)

[17, 16, 15, 14, 12, 11]

In [18]:
print(apollo_moon[::-1])

[11, 12, 14, 15, 16, 17]

In [19]:
apollo12_crew = ["Pete", "Rick", "Al", "John", "Jeff"]
commander, cm_pilot, lm_pilot, *others = apollo12_crew
print(commander, cm_pilot, lm_pilot, others)

Pete Rick Al ['John', 'Jeff']

In [20]:
list2d = [
    [1, 2],
    [3, 4]
]
print(list2d)
print(list2d[0][1])

[[1, 2], [3, 4]]
2

In [21]:
mission_details = [1969, "Apollo 12", ["Conrad", "Gordon", "Bean"], 10.19194]
print(mission_details)
print(lm_pilot, mission_details[2][2])

[1969, 'Apollo 12', ['Conrad', 'Gordon', 'Bean'], 10.19194]
Al Bean

In [22]:
ww2 = [1939, 1940, 1941, 1942, 1943, 1944, 1945]
print(ww2)

[1939, 1940, 1941, 1942, 1943, 1944, 1945]

In [23]:
ww2 = list(range(1939, 1946))
print(ww2)

[1939, 1940, 1941, 1942, 1943, 1944, 1945]

In [24]:
ww2 = list(map(str, ww2))
print(ww2)

['1939', '1940', '1941', '1942', '1943', '1944', '1945']

In [25]:
print(" - ".join(ww2))

1939 - 1940 - 1941 - 1942 - 1943 - 1944 - 1945

In [40]:
x = [1, 2, 20, 21, 22, 23, 1, 1]
print(sum(x), max(x), min(x), x.count(1))

x.sort()
print(x)

print(sorted(x))

x.reverse()
print(x)

91 23 1 3
[1, 1, 1, 2, 20, 21, 22, 23]
[1, 1, 1, 2, 20, 21, 22, 23]
[23, 22, 21, 20, 2, 1, 1, 1]

In [37]:
# shallow vs. deep copy
a = [1, 2, 3, 4]
b = a.copy()
b[0] = 100
print(a, b)

[1, 2, 3, 4] [100, 2, 3, 4]

In [81]:
from copy import deepcopy, copy

x = [1, 2, 3]
y = [4, x]

# z = y
# z = list(y)
# z = y.copy()
# z = copy(y)
z = deepcopy(y)

z[0] = 99
z[1][0] = 100
print(x, y, z)

[1, 2, 3] [4, [1, 2, 3]] [99, [100, 2, 3]]